.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.normal-margin {
  margin-bottom: 1px;
}

.error-margin {
  margin-bottom: 30px;
}
/*-------------*/

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}
