<div class="navbar navbar-expand navbar-dark bg-dark">

  <div class="navbar-nav me-auto">
    <li class="nav-item">
      <a [routerLink]="['/admin']" routerLinkActive="active" class="nav-link"
        >Admin</a
      >
    </li>
    <li class="nav-item">
      <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link"
        >Home</a
      >
    </li>
  </div>

  <div class="navbar-nav ms-auto" *ngIf="!currentUser?.id">
    <li class="nav-item">
      <a [routerLink]="['/register']" routerLinkActive="active" class="nav-link"
        >Sign Up</a
      >
    </li>
    <li class="nav-item me-1">
      <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link"
        >Sign In</a
      >
    </li>
  </div>

  <div class="navbar-nav ms-auto" *ngIf="currentUser?.id">
    <li class="nav-item">
      <a
        style="color: orangered"
        [routerLink]="['/profile']"
        routerLinkActive="active"
        class="nav-link"
      >
        Welcome {{ currentUser.username }}
      </a>
    </li>
    <li class="nav-item me-1">
      <a (click)="logOut()" class="nav-link" style="cursor: pointer">
        Sign Out
      </a>
    </li>
  </div>
</div>

<router-outlet></router-outlet>
